
.alert-wrapper{
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 15;
}
.alert{
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    border-radius: 4px;
    color: rgb(0 0 0);
    border: 1px solid #f44336;
    background-color: rgb(255 197 197);
}
.alert__text{
    display: block;
    font-size: 14px;
    flex: 5;
    text-align: center;
}
.alert__btn{
    flex: 1;
    background: none;
    border: none;
    cursor: pointer;
}