.booklist__item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    background: linear-gradient( to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5) );
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgb(122 122 122 / 21%);
    justify-content: space-between;
    margin-right: 30px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    margin: 25px;
    width: 330px;
}
.booklist__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.booklist__field{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}
.booklist__title{
    font-size: 25px;
}
.booklist__title, .booklist__author{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 20px;
}
.booklist__author{
    font-size: 17px;
}
.booklist__author_inputs{
    display: flex;
    flex-direction: column;
}
.booklist__pages,
.booklist__publisher,
.booklist__pubyear{
    color: #7b7373;
    margin-bottom: 20px;
}
.booklist__btns button{
    font-family: "Poppins", sans-serif;
    border: none;
    min-width: 100px;
    text-align: center;
    margin: auto 0;
    color: #fff;
    font-weight: 200;
    border-radius: 15px;
    background: #658ec6;
    height: 30px;
    margin-right: 15px;
    font-size: 15px;
}
.booklist__btns button:hover{
    cursor: pointer;
}
.booklist__field input{
    border: none;
    width: 200px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
    color: #7b7373;
}
.booklist__warning{
    color: red;
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    right: 0;
    display: none;
}
.booklist__btns button, .booklist__btns button:active{
    outline: none;
}