.form{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 20px;
    height: 20px;
}
img:hover{
    cursor: pointer;
}
.newItemWrapper{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(25, 24, 24, 0.6);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background: linear-gradient( to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9) );
    z-index: 6;
}
.newItem__btns{
    display: flex;
    justify-content: space-around;
}
