*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainApp{
    position: relative;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    padding: 30px 0;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
.container{
    max-width: 1200px;
    margin: 0px auto;
}
button:active{
    outline: none;
}